{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <style>
        img.card-img {
            width: 200px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
        }

        img.card-img1 {
            width: 150px;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;

        }
    </style>
</head>
<body>
<div id="header">
    <a href="/" class="logo">My shop</a>
</div>
<div id="subheader">
    <div class="cart">
        <i class="bi-cart-fill me-1"></i>
        {% with total_items=cart|length %}
            {% if total_items > 0 %}
                Cart:
                <span class="badge bg-dark text-white ms-1 rounded-pill"
                      href="{% url "cart:cart_detail" %}">{{ total_items }} |${{ cart.get_total_price }}</span>
            {% else %}
                Cart:
                <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>
            {% endif %}
        {% endwith %}
    </div>
</div>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>